<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty name="SERVICE_NAME" source="spring.application.name"/>
    <appender name="ECS_JSON_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <keepAliveDuration>1 minutes</keepAliveDuration>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${SERVICE_NAME:-spring-boot-application}</serviceName>
        </encoder>
    </appender>
    <logger name="com.geowarin" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.glassfish.jersey" level="DEBUG"/>
    <logger name="org.hibernate" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ECS_JSON_TCP"/>
    </root>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ECS_JSON_TCP"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ECS_JSON_TCP"/>
    </root>
</configuration>
